.root {
   -fx-background-color: #EEEEEE;
}

.list-view .list-cell:odd {
    -fx-background-color: #EDEDED;
    -fx-text-fill:black; 
}

.list-view .list-cell:even {
    -fx-background-color: #E1E1E1;
    -fx-text-fill:black; 
}

.list-view {
	 -fx-background-color: #EEEEEE;
}

.list-view .list-cell:filled:selected:focused {
	-fx-background-color: #0FC409
	
}